/*
 * Dilectus
 *
 * Thème femme
 */

/* Fonds des panneaux pour le layout de base */
.dilectio-lateral{background:url('img/wp2.png') repeat!important;}
.dilectio-navigation{background: #ccc !important;}
.dilectio-navigation hr{border:0;height:1px;background:#444;}
.dilectio-superieur{background: #bbb !important;}
.dilectio-principal{background:url('img/wp3.png') repeat!important;}

/* Formulaires types */
.trumbowyg-box{min-height:200px!important;}
.trumbowyg-editor{background:#fff;min-height:200px!important;}
.dilectio-new-post-form-photo-fields{background:#fff;}
.dilectio-new-post-form-link-fields{background:#fff;}
.dilectio-new-post-form-question-fields{background:#fff;}
.dilectio-new-post-form-agenda-fields{background:#fff;}

/* Nice select */
#nice-filter-categorie:after{border-color:#3f51b5!important;border-width:3px!important;}
#nice-filter-categorie.dilectio-nice-select-not-null-val{background-color: #fff;border: solid 2px #303f9f;}
#nice-filter-categorie.dilectio-nice-select-null-val{background-color: rgba(255, 255, 255, 0.7);}
#nice-filter-categorie .dilectio-nice-option-icomoon{font-size:14px;padding:5px;color:#333;background:#eee;border-radius:12px;}

#nice-filter-type:after{border-color:#3f51b5!important;border-width:3px!important;}
#nice-filter-type.dilectio-nice-select-not-null-val{background-color: #fff;border: solid 2px #303f9f;}
#nice-filter-type.dilectio-nice-select-null-val{background-color: rgba(255, 255, 255, 0.7);}
#nice-filter-type .dilectio-nice-option-icomoon{font-size:14px;padding:5px;color:#333;background:#eee;border-radius:12px;}

/* Latéral */
#clear-filters:enabled{color:#303f9f!important;}
.dilectio-navigation-label, .dilectio-navigation-type-post-label{color:#000!important;}
.dilectio-navigation-type-post-icone{color:#fff!important;background:#3f51b5!important;}
.dilectio-navigation-type-post-icone-inactive{color:#fff!important;background:#aaa!important;}
.dilectio-navigation-link-selected .dilectio-navigation-type-post-icone{background:#888!important;}
.dilectio-navigation-link-selected .dilectio-navigation-type-post-label{font-weight:bold!important;}
.dilectio-navigation-toggle-views{background:#116;}
.dilectio-navigation-toggle-view-link, .dilectio-navigation-toggle-view-link:visited{color:#ccc;transition:color 0.2s;}
.dilectio-navigation-toggle-view-link:hover{color:#fff;}

/* Principal */
.dilectio-principal-header{background:rgba(255, 255, 255, 0.7)!important;}

/* Extraits */
.dilectio-extrait-favori-vrai{color:#808!important;}

/* Extraits système */
.dilectio-extrait-system{background:rgba(255, 255, 255, 0.5)!important;border:1px solid #000!important;}
.dilectio-extrait-system .dilectio-extrait-fil{color:#000!important;font-weight:bold!important;}

/* Posts */
.dilectio-post{border-radius:10px!important;}

/* Notifications */
.dilectio-notification-icone-type{color:#000;background:#eee;}


/* Formulaire agenda (flatpickr) */
.flatpickr-calendar.arrowTop:after {border-bottom-color: #3f51b5;}
.flatpickr-calendar.arrowBottom:after {border-top-color: #3f51b5;}
.flatpickr-current-month .numInputWrapper span.arrowUp:after {border-bottom-color: #fff;}
.flatpickr-current-month .numInputWrapper span.arrowDown:after {border-top-color: #fff;}
.flatpickr-month {background: #3f51b5;color: #fff;fill: #fff;}
.flatpickr-weekdays {color:#fff;background: #3f51b5;}
span.flatpickr-weekday {color:#fff;background: #3f51b5;}
.flatpickr-day.endRange.nextMonthDay {background: #3f51b5;border-color: #3f51b5;}
.flatpickr-day.endRange.startRange + .endRange {-webkit-box-shadow: -10px 0 0 #3f51b5;box-shadow: -10px 0 0 #3f51b5;}
.flatpickr-day.week.selected {-webkit-box-shadow: -5px 0 0 #3f51b5, 5px 0 0 #3f51b5!important;box-shadow: -5px 0 0 #3f51b5, 5px 0 0 #3f51b5!important;}
.flatpickr-day.selected, .flatpickr-day.selected:hover {background: #ff4081!important;color: #fff;border-color: #ff4081!important;}
.flatpickr-confirm {color:#fff;background:#303f9f;}

/* Calendrier */
.dilectio-calendar  .day-names{color:#fff!important;background:#303f9f!important;}
.dilectio-calendar  .day-names > p{font-weight:bold!important;}
.dilectio-calendar .day-today .day-number{color:#a00!important;font-weight:bold!important;}
.dilectio-calendar  .large-event{background:#ff4081!important;}
.dilectio-calendar  .small-event{background:#ff4081!important;}

