/*
 * DILECTUS CSS TYPE ARTICLE
 *
*/

/**********************************************************************
 * Formulaire
 */
 
/**********************************************************************
 * Extraits
 */
.dilectio-type-article-extrait-wrapper{text-align:justify;color:#333;margin:0;padding:0;}

/**********************************************************************
 * Posts
 */
.dilectio-type-article-post-wrapper{text-align:justify;color:#333;margin:0;padding:0;}